html {
    background-image: url("../img/back.jpg");
}

#nav {
    align-content: center;
    background-color: white;
    border: 1px;
    border-radius: 20px;
    width: 50%;
    margin: 15px;
    height: 27px;
}

#nav input {
    background-color: ghostwhite;
}